<p>tienda works!</p><div class="nav-item dropdown">
  <a
    href="#"
    class="nav-link dropdown-toggle"
    data-bs-toggle="dropdown"
    >Consolas y PCs</a
  >
  <div class="dropdown-menu bg-light m-0">
    <a href="feature.html" class="dropdown-item">PlayStation</a>
    <a href="appointment.html" class="dropdown-item">Xbox</a>
    <a href="team.html" class="dropdown-item">Nintendo</a>
    <a href="testimonial.html" class="dropdown-item">PCs</a>
  </div>
</div>
<div class="nav-item dropdown">
 <a
   href="#"
   class="nav-link dropdown-toggle"
   data-bs-toggle="dropdown"
   >Juegos</a
 >
 <div class="dropdown-menu bg-light m-0">
   <a href="feature.html" class="dropdown-item">PlayStation</a>
    <a href="appointment.html" class="dropdown-item">Xbox</a>
    <a href="team.html" class="dropdown-item">Nintendo</a>
    <a href="testimonial.html" class="dropdown-item">PCs</a>
 </div>
</div>
<div class="nav-item dropdown">
 <a
   href="#"
   class="nav-link dropdown-toggle"
   data-bs-toggle="dropdown"
   >Accesorios</a
 >
 <div class="dropdown-menu bg-light m-0">
    <a href="feature.html" class="dropdown-item">PlayStation</a>
    <a href="appointment.html" class="dropdown-item">Xbox</a>
    <a href="team.html" class="dropdown-item">Nintendo</a>
    <a href="testimonial.html" class="dropdown-item">PCs</a>
 </div>
</div>
